In [117]:
import pandas as pd
import psycopg2

# 1.0 Connection to DB

In [119]:
# Establishing Connection to DB
conn = psycopg2.connect(database='',user='',password='',\
                   host='',\
                  port='')

## 1.1 Db Query

In [35]:
# 1.1 Query Db

# Create cursor
cursor = conn.cursor()

cursor.execute("select version()")

#Fetch a single row using fetchone() method
data = cursor.fetchone()
print('Connection Established to:',data)

#Descobrir as base de dados 
#query = """SELECT datname FROM pg_database WHERE datistemplate = false"""

#Descobrir os schemas
query = """select nspname from pg_catalog.pg_namespace"""

cursor.execute(query)
response = cursor.fetchall()
print(response)


# # Close Connection
cursor.close()
conn.close()

InterfaceError: connection already closed

## 1.2 Table Query

In [25]:
cursor = conn.cursor()

query_tables = """select tablename from pg_tables where schemaname='pa004'"""

cursor.execute(query_tables)
response = cursor.fetchall()
print(response)

cursor.close()
conn.close()

[('users',), ('vehicle',), ('insurance',)]

# 2.0 Collect Data

## 2.1 Using psycopg2

In [44]:
cursor = conn.cursor()

query_tables_user = """select * from pa004.users u where u.age > 44 limit 10"""

cursor.execute(query_tables_user)
response = cursor.fetchall()
print(response)

cursor.close()
conn.close()

data = pd.DataFrame(response)
data.head()

[(2, 'Male', 76, 3.0, 26.0), (3, 'Male', 47, 28.0, 26.0), (8, 'Female', 56, 28.0, 26.0), (11, 'Female', 47, 35.0, 124.0), (14, 'Male', 76, 28.0, 13.0), (15, 'Male', 71, 28.0, 30.0), (20, 'Female', 60, 33.0, 124.0), (21, 'Male', 65, 28.0, 124.0), (22, 'Male', 49, 28.0, 124.0), (27, 'Female', 51, 28.0, 124.0)]

    0       1   2     3      4
0   2    Male  76   3.0   26.0
1   3    Male  47  28.0   26.0
2   8  Female  56  28.0   26.0
3  11  Female  47  35.0  124.0
4  14    Male  76  28.0   13.0

## 2.2 Using Pandas

In [118]:
import pandas.io.sql as psql

In [120]:
query_table_users = """SELECT * from pa004.users u 
                       INNER JOIN pa004.vehicle v on (u.id=v.id) 
                       INNER JOIN pa004.insurance i on (u.id=i.id) 
                       """

df = pd.read_sql(query_table_users,conn)
df.head()

/home/jordanmalheiros/.local/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,gender,age,region_code,policy_sales_channel,id,driving_license,vehicle_age,vehicle_damage,id,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,7,1,< 1 Year,Yes,7,0,23367.0,249,0
1,13,Female,41,15.0,14.0,13,1,1-2 Year,No,13,1,31409.0,221,0
2,18,Female,25,35.0,152.0,18,1,< 1 Year,No,18,1,46622.0,299,0
3,31,Female,26,8.0,160.0,31,1,< 1 Year,No,31,0,2630.0,136,0
4,39,Male,45,8.0,124.0,39,1,1-2 Year,Yes,39,0,42297.0,264,0

In [121]:
df_raw = df.T.drop_duplicates().T
#df = df.drop(df.columns[[5,9]],axis=1)

In [122]:
df_raw.head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,1,< 1 Year,Yes,0,23367.0,249,0
1,13,Female,41,15.0,14.0,1,1-2 Year,No,1,31409.0,221,0
2,18,Female,25,35.0,152.0,1,< 1 Year,No,1,46622.0,299,0
3,31,Female,26,8.0,160.0,1,< 1 Year,No,0,2630.0,136,0
4,39,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0

In [124]:
df_raw.to_csv('df_raw.csv',index=False)

(381109, 12)